*{
   padding: 0;
   margin: 0;
   box-sizing: border-box;
   user-select: none;
}
body,html{
   width: 100%;
   height: 100%;
   background: #1f1c1c;
   overflow: hidden;
}
.main{
   width: 100%;
   height: 100%;
   overflow: hidden;
}
.imageDisplay{
   position: absolute;
   width: 100%;
   height: 40%;
   background: #3d3c3c;
   object-fit:cover ;
   background-position: center;
   box-shadow: inset 0 -15px 10px 8px rgba(0, 0, 0, 0.5);
}
.songName{
   position: relative;
   top: 85%;
   left: 5%;
   color: white;
   text-transform: capitalize;
   font-size: 6.5vw;
   font-weight:bold;
}
.list{
   width: 100%;
   height: 60%;
   position: absolute;
   top: 40%;
   background: #625d5d;
}
.list .img{
   width: 15px;
   height: 15px;
   border: 1px solid red;
   background-image: url("/Images/images (4).jpeg");
   object-fit: cover;
   background-position: center;
}
.list .elem{
   width: 100%;
   height: 13%;
   border: 1px solid white;
}