*{
   padding: 0;
   margin: 0;
   box-sizing: border-box;
   user-select: none;
}
body,html{
   width: 100%;
   height: 100%;
   background: #1f1c1c;
   overflow: hidden;
}
.imageDisplay{
   position: absolute;
   width: 100%;
   height: 40%;
   background: #3d3c3c;
   object-fit:cover ;
   background-position: center;
   box-shadow: inset 0 -15px 10px 8px rgba(0, 0, 0, 0.5);
}
.imageDisplay h2{
   margin:65% 0 0 8%;
   color: white;
   font-size: 5.5vw;
   font-weight: bold;
}
.list{
   width: 100%;
   height: 60%;
   position: absolute;
   top: 40%;
   background: rgba(17,16,16,0.947);
}
.list .elem{
   display: flex;
   align-items: center;
   width: 100%;
   height: 12%;
   border-bottom: 1px solid #ffffff07;
   border-radius: 8px;
   margin-bottom: 0.8%;
   overflow: hidden;
}
.list .img{
   min-width: 45px;
   min-height: 45px;
   width: 45px;
   height: 45px;
   border-radius: 50%;
   border: 1px solid whitesmoke;
   background-image: url("/Images/images (4).jpeg");
   object-fit: cover;
   background-position: top;
   margin: 0 5% 0% 3%;
}
.list .elem h3{
   width: 75%;
   overflow-x: hidden;
   color: whitesmoke;
   font-size: 3.6vw;
}