*{
   padding: 0;
   margin: 0;
   box-sizing: border-box;
   user-select: none;
}
body,html{
   width: 100%;
   height: 100%;
   background: #1f1c1c;
   overflow: hidden;
}
.imageDisplay{
   overflow: hidden;
   position: absolute;
   width: 100%;
   height: 40%;
   background: #3d3c3c;
   object-fit:cover ;
   background-position: center;
   box-shadow: inset 0 -15px 10px 8px rgba(0, 0, 0, 0.5);
}
/*
.imageDisplay h2{
   display: inline;
   min-height: 30px;
   height: 30px;
   overflow-x: hidden;
   position: relative;
   top: 70%;
   left: 5%;
   white-space: nowrap;
   color: white;
   font-size: 4.3vw;
   font-weight: bold;
   
   background: #bd32f7;
   --webkit-background-clip: text;
   background-clip: text;
   color: transparent;
   animation: anim 15s linear infinite;
}
*/
.imageDisplay h2 {
   display: inline;
   min-height: 30px;
   height: 30px;
   overflow-x: hidden;
   position: relative;
   top: 70%;
   left: 5%;
   white-space: nowrap;
   color: white;
   font-size: 4.3vw;
   font-weight: bold;
   
   position: relative;
   background: #bd32f7;
   color: transparent;
   -webkit-background-clip: text;
   background-clip: text;
   -webkit-animation: anim 15s linear infinite;
   animation: anim 25s linear infinite;
}
 @keyframes anim{
   0%{
     filter: hue-rotate(0deg);
   }
   100%{
     filter: hue-rotate(360deg);
   }
 }
.imageDisplay .playPause{
   background: #890abe;
   width: 45px;
   height: 45px;
   border-radius: 50%;
   position: relative;
   top: 70%;
   left: 80%;
   display: flex;
   justify-content: center;
   align-items: center;
}
.imageDisplay .playPause img{
   width: 40px;
   height: 40px;
}
.list{
   width: 100%;
   height: 60%;
   position: absolute;
   top: 40%;
   background: rgba(17,16,16,0.947);
   overflow-y: auto;
}
.list .elem{
   display: flex;
   align-items: center;
   width: 100%;
   height: 12%;
   border-bottom: 1px solid #ffffff07;
   border-radius: 8px;
   margin-bottom: 1%;
   overflow: hidden;
   white-space: nowrap;
   -ms-white-space: nowrap; /* For Internet Explorer */
   -webkit-white-space: nowrap;
}
.list .elem:hover{
   animation: recoverbg 0.2s linear;
}
@keyframes recoverbg{
   0%{
      background: #222222;
   }
   100%{
      background: rgba(17,16,16,0.947);
   }
}
.list .img{
   min-width: 45px;
   min-height: 45px;
   width: 41px;
   height: 41px;
   border-radius: 50%;
   border: 1px solid whitesmoke;
   background-image: url("/Images/images (4).jpeg");
   object-fit: cover;
   background-position: top;
   margin: 0 5% 0% 3%;
}
.list .elem h3{
   width: 70%;
   text-wrap: nowrap;
   overflow-x: hidden;
   color: whitesmoke;
   font-size: 3.6vw;
}
audio{
   position: absolute;
   top: 0;
   left: 0;
   color: white ;
}

/* animatiom while playing musics */
.playAnim-container{
   position: absolute;
   left: calc(100% - 30px);
   display: flex;
   justify-content: space-around;
   align-items: end;
   width: 20px;
   height: 25px;
   
}
.playAnim-container span{
   height: 80%;
   width: 15%;
   background: crimson;
   
}
.playAnim-container span:nth-child(1){
   animation: musicAnimElem1 0.9s linear infinite ;
}
@keyframes musicAnimElem1{
   0%{
      height: 70%;
   }50%{
      height: 20%;
   }
   100%{
      height: 70%;
   }
}
.playAnim-container span:nth-child(2){
   animation: musicAnimElem2 0.9s linear infinite ;
}
@keyframes musicAnimElem2{
   0%{
      height: 20%;
   }50%{
      height: 80%;
   }
   100%{
      height: 20%;
   }
}
.playAnim-container span:nth-child(3){
   animation: musicAnimElem3 0.8s linear infinite ;
}
@keyframes musicAnimElem3{
   0%{
      height: 80%;
   }50%{
      height: 40%;
   }
   100%{
      height: 80%;
   }
}
.playAnim-container span:nth-child(4){
   animation: musicAnimElem4 0.95s linear infinite ;
}
@keyframes musicAnimElem4{
   0%{
      height: 70%;
   }50%{
      height: 30%;
   }
   100%{
      height: 70%;
   }
}

@media only screen and (max-width: 600px) {
   .list .img{
      width: 30px;
      height: 30px;
   }
}